@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand: #35bfab;
  --color-primary: #334f52;
  --color-secondary: #7b888e;
  --color-bg: #eeeeee;
  --color-border: #fff;
}

@layer base {
  html {
    @apply text-primary h-full leading-tight;
    scroll-behavior: smooth;
    background: #eeeeee;
  }

  body {
    @apply h-full;
    background: transparent;
  }

  * {
    @apply border-border;
  }
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .glass-card {
    @apply rounded-[40px] border bg-white/40 p-6;
    box-shadow: 0 40px 50px -32px rgba(0, 0, 0, 0.05), inset 0 0 20px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
  }
}